{% extends '/base.html.twig' %}

{% form_theme form _self %}

{% block content %}
    <div class="card w-25 mt-5 mx-auto">
        <div class="card-header text-center">
            <div class="row">
                <div class="col-12">
                    Authentication
                </div>
            </div>
        </div>

        <div class="card-body">
            {{ form(form) }}
        </div>
        <div class="card-footer bg-white p-0 text-center">
            <div class="card-footer-item card-footer-item-bordered">
                &copy; 2021 - {{ 'now'|date('Y') }}
            </div>
        </div>
    </div>
{% endblock %}
